@layer base {
  html {
    @apply min-h-full;
  }
  body, #root {
    @apply min-h-full overflow-x-hidden;
  }
}

/* Prevent horizontal scrollbars from showing up due to animations */
body, html, #root {
  overflow-x: hidden;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
